@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;700;900&family=Open+Sans:wght@300;400;500;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4{
  font-family: 'Fira Sans', sans-serif;
}

p, span,a, label, button, input,select{
  font-family: 'Open Sans', sans-serif;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    top: 0;
    min-height: 80px;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 2;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#282828),to(rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top,#282828,rgba(0,0,0,0));
    background: linear-gradient(180deg,#282828 0,rgba(0,0,0,0));
}

header .logo{
  display:
  flex;
  align-items: center;
  justify-content: flex-start;
  grid-row: 2/3;
  margin: 10px;
}
header .logo img{
  width:60px;
}
header .categoria{
  display: flex;
}
header .categoria .menu{
  width:100%;
}
header .categoria .menu ul{
  display:
  flex;
  width: 100%;
  height: 52px;
  align-items: center;
  justify-content: flex-start;
}
header .categoria .menu ul li{
  width: -webkit-calc((100vw)/3);
  width: calc((100vw)/3);
  max-width: 200px;
  list-style: none;
  text-align: center;
  background: black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .categoria .menu ul li:nth-child(1){
  background: #00891d;
}
header .categoria .menu ul li:nth-child(2){
  background: #0a57cc;
}
header .categoria .menu ul li:nth-child(3){
  background: #E55029;
}

header .categoria .menu ul li a{
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 400;
}
main .section-newsletter{
    background-image: url('../img/fundo-form.webp');
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 30px 0;
  }
  main .section-newsletter:before {
    content: "";
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: .7;
  }
  main .section-newsletter .conteudo{
    width: 90%;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    max-width: 1200px;
  }
  
  main .section-newsletter .conteudo h2{
    color: #f45353;
    font-size: 1.9rem;
  }
  main .section-newsletter .conteudo p{
    color: #fff;
    margin: 20px 0;
    font-size: 1.1rem;
  }
  main .section-newsletter .conteudo  form{
    width: 100%;
    display: grid;
    max-width: 500px;
    margin: 0 auto;
  }
  main .section-newsletter .conteudo  form input{
    font-size: 1.1rem;
    padding: 7px 10px;
    border: 0;
    border-radius: 3px;
    margin: 4px 0px;
    
  }
  main .section-newsletter .conteudo  form button{
    font-size: 1.1rem;
    width: 100%;
    border: 0;
    border-radius: 2px;
    padding: 8px;
    margin-top: 10px;
    background: #00891d;
    color: white;
    font-weight: 600;
  
  }
  /*------------- Footer ---------------*/

footer{
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    background-color: #0a57cc;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
footer div{
    max-width: 500px;
}
footer .social{
    display: flex;
    flex-direction: column;
    width: 70%;
}

footer .social .redes-sociais svg{
    color: white;
    fill: white;
    width: 35px;
    height: 35px;
}

footer .social .contato{
    display: flex;
    flex-direction: column;
}

footer .social .contato p, footer .contato a{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    font-size: 1rem;
    margin: 6px 0;
}

footer .social .contato p svg{
    width: 16px;
}

footer .social .contato a svg{
    width: 20px;
}

footer .logo{
    width: 70%;
    display: flex;
    justify-content: center;
}
footer .logo img{
    width: 100%;
    max-width: 300px;
}
@media only screen and (min-width: 500px){
  
  header .categoria .menu ul li a{
    font-size: 1.3rem;
  }
    header .categoria .menu ul li{
      width: -webkit-calc((50vw)/3);
      width: calc((50vw)/3);
    }
    header .logo {
      justify-content: center;
      grid-row: 1/2;
    }
}
@media only screen and (min-width: 650px) {
    footer{
        flex-direction: row;
    }
    main .section-newsletter .conteudo{
      grid-template-columns: 1fr 1fr;
    }
    
}

